[submodule "external/LUCIDPresentation"]
	path = external/LUCIDPresentation
	url = https://github.com/emchristiansen/LUCIDPresentation.git
[submodule "external/LUCIDOpenCV"]
	path = external/LUCIDOpenCV
	url = https://kforge.ros.org/LUCID/LUCIDOpenCV
[submodule "external/LUCIDNebula"]
	path = external/LUCIDNebula
	url = https://kforge.ros.org/LUCID/LUCIDNebula
